<!-- Page 1 -->

<div class="row">



  <div id="address" class="whitebox col-sm-11 col-md-8 col-lg-7">
    <!-- <a class="back-button" href="#">Go back</a> -->
    <div class="whitebox-container clearfix">
      <h1>Tell your Congresspersons you care. Enter your address so we can find your Congresspersons.</h1>

        <form name="addressForm" ng-controller="AddressFormController">
          <!-- See https://developers.google.com/web/fundamentals/input/form/label-and-name-inputs
               for details on where the autocomplete etc values come from -->

          <div class="clearfix">
            <div id="addressInputs" ng-class="{addressValid: addressForm.$valid}" class="clearfix">
              <div class="form-group">
                <label for="streetAddress1">Street address</label>
                <input type="text"
                       id="streetAddress1"
                       name="address"
                       autocomplete="street-address"
                       ng-required="true"
                       ng-pattern="patterns.address"
                       ng-model="addressData.address"
                       class="form-control input-lg"
                       placeholder="1600 Pennsylvania Ave">
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <div class="form-group">
                    <label for="city1">City</label>
                    <input type="text"
                           id="city1"
                           name="city"
                           autocomplete="address-level2"
                           ng-required="true"
                           ng-pattern="patterns.city"
                           ng-model="addressData.city"
                           class="form-control input-lg"
                           placeholder="Washington, DC">
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="zip1">Zip code</label>
                    <input type="tel"
                           id="zip1"
                           name="postal"
                           autocomplete="postal-code"
                           ng-required="true"
                           ng-pattern="patterns.postal"
                           ng-model="addressData.postal"
                           class="form-control input-lg"
                           placeholder="20500">
                  </div>
                </div>
              </div>
            </div>

            <div ng-class="{addressValid: addressForm.$valid}" class="clearfix" id="submitAddress">
              <button type="submit"
                      class="btn btn-lg btn-orange"
                      ng-click="validateAddress()"
                      id="ahoDioCheckAddress">
              Submit
              </button>
            </div>
          </div>


          <div class="alert alert-danger"
               ng-show="error && !addressForm.$pristine">
            [[ error ]]
          </div>

          <div id="exp-text">
              <p>Congress members and their staffs only have resources to read and respond to emails from constituents. By entering your address above, we can display your congress members on the next page, and if you choose to send an email message, we will include your address so your congress members know you are a constituent.</p>
            </div>

        </form>



        <div class="whitebox-footer text-center">
          This tool uses the <a href="https://smartystreets.com/" target="_blank">SmartyStreets Geocoding API</a> to look up your representatives.
        </div>

    </div>
  </div>



  <div id="brand">
    <span class="hidden-xs">
      This tool is the <a href="https://democracy.io/#!/">democracy.io</a> project of <a href="https://eff.org">Electronic Frontier Foundation</a>
    </span>
    <span class="visible-xs">
      This tool is the <a href="https://democracy.io/#!/">democracy.io</a> project of </a> of <a href="https://eff.org">Electronic Frontier Foundation</a>
    </span>
  </div>
</div>

<!-- <a href="https://eff.org" class="img-link"><img width="40" src="/static/{$VERSION}/img/eff-logo.png" alt="EFF logo"></a> -->
