<!-- Page 4 -->
<div class="row" ng-controller="ThanksController">
  <div id="thanks" class="col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">

    <div ng-switch="ahurl">

        <div ng-switch-when="https://affordablehousingonline.com/advocacy/issues/fy19-hud-budget">

          <p>Thanks for contacting your congress members about the FY2019 Trump Budget Proposal.</p>

        </div>

      <div ng-switch-when="https://affordablehousingonline.com/advocacy/issues/affordable-housing-credit-improvement-act">

        <p>Thanks for contacting your congress members about the Affordable Housing Credit Improvement Act.</p>

      </div>

      <div ng-switch-when="https://affordablehousingonline.com/advocacy/issues/2017-tax-reform-bill">

        <p>Thanks for contacting your congress members about the 2017 Tax Reform legislation.</p>

      </div>

      <div ng-switch-default>
        <p>Thanks for contacting your congress members about affordable housing issues.</p>
        <p>Please click the "X" above and to the right to close this window.</p>
      </div>

    </div>

    <!--
    <div id="share-icons">
      <svg id="triangle" viewBox="78 267.9 767.5 383.9" width="30" xmlns="http://www.w3.org/2000/svg">
        <path d="M78,268l383.8,383.8L845.5,268H78z" fill="#fff"/>
      </svg>

      <div class="col-xs-4" ng-repeat="share in shares">
        <a class="share-link"
           ng-click="sharePopup(share.link)"
           ng-bind-html="safeGraphic(share)">
        </a>
      </div>
    </div> -->
  </div>
</div>
